.LW {
	width: 50%;
}

.FL {
	width: 25%;
}

.DL {
	width: 30%;
}

footer {
	font-family: Folio;
}

a.text-uppercase:active, /* активная/посещенная ссылка */
a.text-uppercase {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

a.text-uppercase:hover {  /* при наведении */
	color: white;
}

.LText {
	font-size: 15px;
	margin-left: 10%;
	margin-right: 10%;
	letter-spacing: 1px;
}

#a {
	text-align: left;
	position: center;
}

#s {
	text-align: right;
}



ul.menu {
	padding-left: 0;
	padding-top: 0; 
}

ul.menu li {
  	display: inline-block;
  	margin: 2%;
}
ul.menu li a i.fa {
	display: inline-block;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	color: white;
	transition: all ease 0.2s;
	font-size: 18pt;
}

ul.menu li a i.fa:hover {
	text-align: center;
  	color: red;
  	font-size: 20pt;
    transition: all ease 0.2s;
}
