.LW {
	width: 50%;
}

.FL {
	width: 25%;
}

.DL {
	width: 30%;
}

footer {
	font-family: Folio;
}

a.text-uppercase:active, /* активная/посещенная ссылка */
a.text-uppercase {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

a.text-uppercase:hover {  /* при наведении */
	color: white;
}

.LText {
	font-size: 15px;
	margin-left: 10%;
	margin-right: 10%;
	letter-spacing: 1px;
}

#a {
	text-align: left;
	position: center;
}

#s {
	text-align: right;
}



